* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #1f1f1f;
    font-family: sans-serif;
    color: #fff;
    /* background-image: url("/Group1.jpg"); */
    background-position: center; /* a imagem ficará centralizada*/
    background-size: cover; /*Faz com que a imagem fique centralizada ref ao elemento pai, mesmo que corte a imagem */
    height: 1000px;
}